
<div id="schedulars_settings">
  <%= render :partial => "schedulers/form", :locals => {:project => @project} %>
  <%= render :partial => "schedulers/list", :locals => {:project => @project} %>
</div>