<h3 style="margin-top: 10px; border-bottom: 1px solid silver">予約期間</h3>

<% @scheduler_setting = SchedulerSetting.first_or_initialize %>
<p style="padding-left: 0px">一回あたりの最大予約期間を設定します</p>

<%= form_for @scheduler_setting,
             :url => {:controller => 'scheduler_settings', :action => 'update' },
             :remote => true do |form| %>
  <%= form.text_field :period, title: '表示名', :size => 10 %> 日間
  <%= form.submit '適用', :class => "scheduler_custom_submit", :id => "edit_scheduler_period" %>
<% end %>

<script type="text/javascript">
  $(document).on("click", "#edit_scheduler_period", function(event){
    var csrf_token = $("meta[name=csrf-token]").attr("content");
    var _put_period = $("#scheduler_setting_period").val();
    var put_data = "period=" + _put_period;
    var url = "/scheduler_settings/1"
    $.ajax({
      type: "PUT",
      headers: {
        "X-CSRF-TOKEN": csrf_token
      },
      url: url,
      data: put_data,
      dataType: "json",
      success: function(d) {
        $("input#scheduler_setting_period").val(d["period"]);
      },
      error: function(xhr, status, error) {
        console.log(status);
      }

    });
    return false;
  });
</script>
